
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold
}

body {
  overflow: hidden;
}

.fotoFondo {
background-color: grey;

}

.botonEdit {
  margin-top: 10px;
  text-align: right;

}

.encuesta {


}
